properties([
    [$class: 'AuthorizeProjectProperty', strategy: [$class: 'SpecificUsersAuthorizationStrategy', userid: {{ s.jenkins.admin.user | groovy }}]],
    disableConcurrentBuilds(),
    buildDiscarder(logRotator(numToKeepStr: '30')),
    pipelineTriggers([pollSCM({{ s.pipeline.seed.poll | groovy }})])
])
def syncJobs = {
    try {
        stage('Checkout definitions') {
            checkout([$class: 'GitSCM',
                branches: [[name: {{ s.pipeline.repository.branch | groovy }}]],
                userRemoteConfigs: [[url: {{ s.pipeline.repository.url | groovy }}{% if s.credentials.pipeline_git.enabled %}, credentialsId: 'pipeline-git'{% endif %}]]])
        }
        stage('Synchronize jobs') {
            jobDsl targets: {{ s.pipeline.seed.dsl | groovy }},
                sandbox: true,
                failOnMissingPlugin: true,
                failOnSeedCollision: true,
                removedJobAction: 'DISABLE',
                removedViewAction: 'IGNORE',
                lookupStrategy: 'JENKINS_ROOT',
                additionalParameters: [
                    PIPELINE_REPO: {{ s.pipeline.repository.url | groovy }},
                    PIPELINE_BRANCH: {{ s.pipeline.repository.branch | groovy }},
                    PIPELINE_CREDENTIALS: {{ ('pipeline-git' if s.credentials.pipeline_git.enabled else '') | groovy }},
                    APPLICATION_CREDENTIALS: {{ ('application-git' if s.credentials.application_git.enabled else 'none') | groovy }}
                ]
        }
    } finally {
        deleteDir()
    }
}
timeout(time: 10, unit: 'MINUTES') {
    node('pdd-test') { syncJobs() }
}
